node_modules
/public
/lib
/examples
scripts
src
test
.babelrc.js
.eslintrc.js
.eslintignore
tsconfig.json
babel.config.js
webpack.config.js
jsconfig.json
.huskyrc
.editorconfig
prettier.config.js
yarn.lock